<div class="ui fluid container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id consequat enim, id dapibus purus. Duis nec
        magna commodo metus blandit scelerisque. Aliquam pharetra, velit sed rhoncus consequat, nulla metus sagittis ex,
        eu vestibulum arcu erat eu leo. Etiam eu est ipsum. Maecenas pharetra id nunc a fringilla. Nunc vel fermentum
        ipsum, eleifend maximus libero. Nullam luctus eleifend mi.</p>

    <p>Sed vestibulum lobortis quam pretium fringilla. Fusce laoreet lacus est, ut condimentum eros ultrices sed.
        Vivamus malesuada imperdiet ante, vitae pulvinar felis eleifend non. Ut faucibus tristique turpis non
        sollicitudin. Nunc viverra accumsan nunc, non cursus felis feugiat ut. Sed hendrerit fermentum nunc ut mollis.
        Fusce mollis tincidunt purus. Duis aliquam lectus sem, in tempor augue viverra id. Aliquam ut ex eu ipsum
        dapibus maximus ut eu erat.</p>
</div>